.flexBox{
    background-color: #0f0000;
    border-radius: 50px;
    margin: 2rem 4rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    margin-right: 8rem;
    width: 300px;
    height: auto;
}
.fdc{
    flex-direction: column;
}
.specialText{
    color: white;
}
.text{

    margin-bottom: 5rem;
    text-align: center;
    font-family: "Tilt Warp", serif;
    font-size: 2rem;
}

#username{
    border-radius: 20px;
    width: 20vw;

}
#password{
    border-radius: 20px;
    width: 20vw;
    margin-top: 2rem;
}
.btn-group{
    margin-top: 2rem;

}
#loginButton{
    border-radius: 10px;
    margin-top: 5rem;
}
#loginButton:hover{
    background-color: white;
    color: black;
}

@media screen and  (max-width: 848px){
    .flexBox{
        flex-direction: column;
    }
    img{
        margin-right: 0;
        margin-bottom: 2rem;
    }

}
