.mainContainer {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('https://ychef.files.bbci.co.uk/1280x720/p0b7n6dm.jpg');
}
.navbar{
    height: 40px;
}
.nav-item>a{
    position: relative;
    left: 850px;
    margin-right: 10px;
    margin-left: 10px;
}
#navbarText{
    font-size: 2rem;

}


.mainText {
    text-align: center;
    color: white;
    font-size: 8rem;
    font-family: 'Tilt Warp', cursive;

}

#subText {
    font-size: 4rem;
}

#loginButton {
    font-size: 1rem;
    margin-right: 4px;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
}

#loginButton:hover {
    background-color: black;
    color: white;
}

#signUpButton {
    font-size: 1rem;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
}

#signUpButton:hover {
    background-color: black;
    color: white;
}

#packageSelector {
    font-size: 2rem;
    margin-top: 3rem;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
}

#packageSelector:hover {
    background-color: black;
    color: white;
}


.flexContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
.stepsContainer {
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 50vh;
    border: 1px solid black;
}

@media screen  and (max-width: 1098px) {
    .mainText {
        font-size: 6rem;
    }

    #subText {
        font-size: 3rem;
    }

    #packageSelector {
        font-size: 1.5rem;
    }

}

@media screen  and (max-width: 420px) {
    .mainText {
        font-size: 5rem;
    }

    #subText {
        margin-top: 3rem;
        font-size: 3rem;
    }

    #packageSelector {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 988px) {
    .navbar{
        height: auto;
    }
    .nav-item>a{
        position: relative;
        left: 0;
        margin-right: 10px;
        margin-left: 10px;
    }
}

