.mainContainer {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('https://ychef.files.bbci.co.uk/1280x720/p0b7n6dm.jpg');
}

#offcanvasNavbar {
    background-color: black;
}


.footerText {
    text-align: center;
    font-weight: bold;
    font-family: 'popins', sans-serif;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
}

.logo {
    position: relative;
    left: 50%;
    /*Getting 50% back to the left from its own width.*/
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    margin-bottom: 5rem;
    transition: width 0.5s, height 0.5s;
}

.logo:hover {
    width: 200px;
    height: 200px;
}

/*NavBar - Start.*/
.navbar {
    font-family: 'Tilt Warp', cursive;
}

ul > li > a {
    margin-top: 5rem;
    margin-left: 2.5rem;
    font-size: 2rem;
    color: white;
    text-decoration: none;

}

ul {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    list-style: none;
}

li:hover a {
    color: black;
    background-color: white;

}

.cInfo {
    color: white;
}

.navbar-toggler {
    margin-left: 1rem;
    margin-top: 1rem;
}


.mainText {
    text-align: center;
    color: white;
    font-size: 8rem;
    font-family: 'Tilt Warp', cursive;

}
.underLiner{
    border-bottom: 5px solid black;
    font-size: 2rem;
    color: black;

}
#t2{
    border-bottom: 10px solid black;
    font-size: 3rem;
    color: black;

}

#subText {
    font-size: 4rem;
}


#loginButton {
    font-size: 1rem;
    margin-right: 4px;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
}

#loginButton:hover {
    background-color: black;
    color: white;
}

#signUpButton {
    font-size: 1rem;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
}

#signUpButton:hover {
    background-color: black;
    color: white;
}

#packageSelector {
    font-size: 2rem;
    margin-top: 3rem;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
}

#packageSelector:hover {
    background-color: black;
    color: white;
}


.flexContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
.stepsContainer {
    background-color: #f4f4f4;;
    border-radius: 50px;
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: auto;

}
.stepsImages{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    height: 200px;
    width: 200px;
}
.fcRow{
    margin-top: 120px;
    margin-bottom: 120px;
    flex-direction: column;
}
.specialText{
    color: black;
    font-size: 3rem;
}
.dText{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    padding: 50px;

}
.aboutUsContainer{
    background-color: #f4f4f4;
    border-radius: 50px;
    position: relative;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: auto;
    margin-bottom: 100px;
}
#footerText{
    font-size: 1.5rem;
    padding: 50px;
}
.detailsButton{
    height: 10vh;
    width: 10vw;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
    margin-left: 50px;
    margin-right: 50px;
}
@media screen  and (max-width: 1098px) {
    .mainText {
        font-size: 6rem;
    }

    #subText {
        font-size: 3rem;
    }

    #packageSelector {
        font-size: 1.5rem;
    }

}

@media screen  and (max-width: 420px) {
    .mainText {
        font-size: 5rem;
    }

    #subText {
        margin-top: 3rem;
        font-size: 3rem;
    }

    #packageSelector {
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 988px) {
    .navbar{
        height: auto;
    }
    .nav-item>a{
        position: relative;
        left: 0;
        margin-right: 10px;
        margin-left: 10px;
    }
    .dText{
        font-size: 1.5rem;
    }
    .stepsImages{
        height: 150px;
        width: 150px;
    }
}
@media screen and(max-width: 392px) {
    .mainText {
        font-size: 2rem;
    }
    .mainText {
        font-size: 2rem;
    }
    .stepsImages{
        height: 100px;
        width: 100px;
    }
    #steps{
        font-size: 2rem;
    }
}

