.mainContainer{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('https://digital.ihg.com/is/image/ihg/ihg-lp-refresh-hero-imea-gben-lvp-1440x617');
}
.mainText{
    text-align: center;
    color: white;
    font-size: 8rem;
    font-family: 'Tilt Warp', cursive;

}
#subText{
    font-size: 4rem;
}

#packageSelector {

    font-size: 2rem;
    margin-top: 3rem;
    border-radius: 10px;
    font-family: 'Tilt Warp', cursive;
}
#packageSelector:hover{
    background-color: black;
    color: white;
}


.flexContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
@media screen  and (max-width: 1098px){
    .mainText{
        font-size: 6rem;
    }
    #subText{
        font-size: 3rem;
    }
    #packageSelector{
        font-size: 1.5rem;
    }

}
@media screen  and (max-width: 420px){
    .mainText{
        font-size: 5rem;
    }
    #subText{
        margin-top: 3rem;
        font-size: 3rem;
    }
    #packageSelector{
        font-size: 1.5rem;
    }

}